.custom-img {
    background-image: url("https://cdn.pixabay.com/photo/2016/12/08/00/10/audi-1890687_960_720.jpg");
}

.glass-content {
  background: rgba(25, 49, 80, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 8px solid #a5f3fc29;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}